

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:2rem;
}


.image{
    width:100px;
    height:100px ;
    margin-top: 40px;
    
    
}

.text>label{

        position:absolute;
        top:-14px;   
        color: white; 
        text-align: center; 
        
       
        
      }

      .text{
        position: relative;
        
      }

      .avatar{
        color: white;
      }

      .images{
        display: flex;
        gap:1rem;
        
      }

      .icons{
        display: flex;
        gap:5rem
      }

     

      